*{
    margin: 0;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    
    min-height: 10px;
    min-width: 10px;
}
body *{
    display: flex;
}

script{
    display: none;
}

button{
    cursor: pointer;
}


body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    display: flex;
}
header{ 
    background-color: blue;   

}
.logo{}
.menuBar{
    margin-block: 1px;
    background-color: #000000;
    width: 20px;
    height:2px;
    border-radius: 2px;
}
.title{
    background-color: red;
}
.menuButton{
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
}
.inputContainer{
    flex-direction: column;
}
.nameHeading{
    background-color: green;
}
.nameInputFields{
    background-color: orange;
}
.nameInput{}
.tierInput{}
.enterPlayerButton{}
.resetPlayerButton{}
.poolListHeading{
    background-color: aqua;
}
.poolListContainer{
    background-color: aquamarine;
    height: 100px;
    flex-direction: column;
}
.poolBox{
    flex-direction: column;
}
.searchContainer{}
.searchBarUP{
    margin-left: auto;
}
.participantZone{
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
    
}
.poolParticipantContainer{
    height: 30px;
}
.poolParticipant{}
.poolParticipantTier{}
.poolAddToTeamButton{}
.poolDeleteButton{}
.teamNumberInput{

}
.searchIconBox{       
    
    cursor: pointer;
}
.seeFullPoolButton{
    width: 100px;    
    margin-left: auto;
    cursor: pointer;
}
.mainButtonBox{
    background-color: blueviolet;
    justify-content: center;
}
.buildTeamsButton{}
.lockTeamsButton{}
.unlockTeamsButton{}
.resetTeamsButton{}
.teamsContainer{
    background-color: orangered;
    flex-direction: row;
    height: 100px;
    justify-content: center;
}
.teamCard{
    flex-direction: column;
}
.cardHeader{
    flex-direction: column;
}
.cardHeaderLine1{}
.cardTitle{}
.lockIcon{
    cursor: pointer;
}
.cardHeaderLine2{}
.teamNameInput{}
.cardTeamSize{}
.cardTeamList{}
.cardParticipant{}
.switchTeamButton{
    cursor: pointer;
}
.arrowIcon{
    cursor: pointer;
}
.removeFromTeamButton{
    cursor: pointer;
}
.xIcon{
    cursor: pointer;
}
.cardFooter{}
.editTeamButton{
    cursor: pointer;
}
.teamInspectionBody{
    background-color: sienna;
    flex-direction: column;
    align-items: center;
}
.teamInspectionContainer{
    flex-direction: column;
    
}
.teamInspectionHeader{}
.teamInspectionTeamNumber{}
.teamInspectionListContainer{}
.teamInspectionItem{}
.inspectionParticipant{}
.inspectionSwitchTeamButton{
    cursor: pointer;
}
.inspectionRemoveFromTeamButton{
    cursor: pointer;
}
.mainMenuBody{
    flex-direction: column;
    background-color: lemonchiffon;
    justify-content: center;
}
.mainMenuContainer{
    flex-direction: column;
}
.saveScreenBody{
    justify-content: center;
}
.saveScreenContainer{}
.saveNameInput{}
.saveButton{
    cursor: pointer;
}
.menuSave{
    cursor: pointer;
}
.menuLoad{
    cursor: pointer;
}
.menuPrint{
    cursor: pointer;
}
.menuDark{
    cursor: pointer;
}
.closeButton{
    cursor: pointer;
}
.loadScreenBody{
    justify-content: center;
}
.loadScreenContainer{
    flex-direction: column;
}
.loadItem{
    cursor: pointer;
}
.loadCloseButton{
    margin-left: auto;
    cursor: pointer;
}
.loadList{
    flex-direction: column;
}
.clearMemButton{
    cursor: pointer;
}




















